# SPDX-FileCopyrightText: Copyright (C) 2024 Martijn Saelens and Contributors to the project (https://github.com/MartenBE/mkslides/graphs/contributors)
#
# SPDX-License-Identifier: MIT

# https://packaging.python.org/en/latest/guides/writing-pyproject-toml

[project]
name = "mkslides"
version = "2.0.15"
description = "MkSlides - Slides with Markdown using the power of Reveal.js."
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "beautifulsoup4>=4.14.2",
    "click>=8.3.1",
    "emoji>=2.15.0",
    "jinja2>=3.1.6",
    "jsonschema>=4.25.1",
    "livereload>=2.7.1",
    "markdown>=3.10",
    "natsort>=8.4.0",
    "omegaconf>=2.3.0",
    "python-frontmatter>=1.1.0",
    "pyyaml>=6.0.3",
    "rich>=14.2.0",
    "treelib>=1.8.0",
    "types-beautifulsoup4>=4.12.0.20250516",
    "types-markdown>=3.10.0.20251106",
]
license = "MIT"
license-files = [
    "LICENSES/*.txt"
]

[dependency-groups]
dev = [
    "bumpver>=2025.1131",
    "deepdiff>=8.6.1",
    "mypy>=1.18.2",
    "pytest>=9.0.1",
    "reuse>=6.2.0",
    "ruff>=0.14.5",
    "types-pyyaml>=6.0.12.20250915",
]

[build-system]
requires = ["uv_build>=0.8.23,<0.9.0"]
build-backend = "uv_build"

[project.scripts]
mkslides = "mkslides.__main__:cli"


[tool.uv.workspace]
members = [
    "mkslides",
]
