# SPDX-FileCopyrightText: Copyright (C) 2024 Martijn Saelens and Contributors to the project (https://github.com/MartenBE/mkslides/graphs/contributors)
#
# SPDX-License-Identifier: MIT

name: CI/CD
on:
  push:
    branches:
      - master
    tags:
      - "[0-9]*"
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write
  discussions: write
  id-token: write
  pages: write

jobs:
  deploy:
    if: github.ref_type == 'branch' && github.event_name == 'push' # Ensure deploy only runs on push to a branch, not pull_request or tag
    #needs: test
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - uses: actions/configure-pages@v5
      - uses: actions/setup-python@v6
        with:
          python-version: "3.x"
      - run: pip install uv
      #- run: uv sync
      - run: run mkslides build
      - uses: actions/upload-pages-artifact@v4
        with:
          path: ./site
      - id: deployment
        uses: actions/deploy-pages@v4
